@import "tailwindcss";

*{
  --primary-font:"Poppins", sans-serif;
}
html, body {
  font-family: var(--primary-font);
}

.style2_slider {
  width: 200px;
  position: absolute;
  bottom: 6rem;
}
.style2_slider .swiper-button-next:after, .style2_slider .swiper-button-prev:after{
  font-size: 22px;
}
.middle_arrow{
  width: 80%;
  justify-content: center;
  margin-left: 10%;
  margin-top: 10px;

}
.white-pagination .swiper-pagination-bullet{
  background: transparent;
  border: 1px solid #fff;
  opacity: 1;
}
.white-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #fff;
}

@media (max-width:767px) {
  .style2_slider {
    bottom: 7rem;
  }
}